.maintenance-comp {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    * {
        color: #fff;
    }

    .sidebar {
        width: 250px;

        .side-comp {
            width: 100%;
            height: calc(100vh - 60px);
            /* background: linear-gradient(to bottom, #d9cc6c96, #8cbaffa8); */
            background: linear-gradient(to bottom, var(--dash-sbar-light), var(--dash-sbar-dark));

            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
            padding: 10px;

            a {
                color: var(--sidenav-ISO);
            }
        }
    }

    .mainboard {
        padding: 20px 0px;
        width: 100%;
        height: calc(100vh - 70px);
        overflow-y: auto;

        .sdash-1 {
            padding: 20px;

            @media (max-width:1368px) {
                padding: 15px;
            }

            * {
                color: var(--sidenav-ISO);
            }


            .overview-content {

                width: 384px;


                padding: 20px;
                background: linear-gradient(150deg, var(--aom-light), var(--aom-gray), var(--aom-dark));
                background-size: 200% 200%;
                background-position: 200% 100%;
                height: 500px;
                position: relative;
                overflow: hidden;
                border-radius: 12px;
                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);

                @media (max-width:1368px) {
                    width: 300px;
                }

                &::after {
                    position: absolute;
                    width: 20vw;
                    height: 20vw;
                    content: '';
                    filter: blur(10px);
                    background: #79afff;
                    border-radius: 50%;
                    bottom: -25%;
                    right: -25%;
                    z-index: -2;
                }

                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                    color: var(--sidenav-ISO);
                }

                .ts-f {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;

                    
                    @media (max-width:1368px) {
                        gap: 5px;
                    }

                    .ts-f-left {
                        h2 {
                            font-size: 15px;
                            margin-bottom: 10px;
                            color: var(--sidenav-ISO);
                        }
                        svg {
                            path {
                                fill: var(--svg-path2);
                            }
                        }

                        .ts-f-dt {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            background-color: rgba(255, 255, 255, 0.7);
                            padding: 10px;
                            border-radius: 8px;

                            @media (max-width:1368px) {
                                padding: 5px;
                            }
                            svg {
                                /* Optional: Style your SVG icon if needed */
                            }

                            h5 {
                                font-size: 12.75px;
                                color: #3b73ff;
                            }

                            input[type='checkbox'] {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }

                    .ts-f-right {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .mini-chart {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            p {
                                margin-top: 10px;
                                font-size: 0.9rem;
                                color: var(--sidenav-ISO);
                            }
                        }
                    }
                }
            }


            .dataglobal-content {
                padding: 10px;
                // background: linear-gradient(150deg, #d1c251, #ffffff47, #2079ffa9);
                background-size: 200% 200%;
                background-position: 100% 0%;
                width: calc(100vw - 384px - 300px);
                height: 500px;

                @media (max-width: 1366px) {
                    width: calc(100% - 354px);
                }

                // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);

                h1 {
                    height: 20px;
                }

                .act-data-1 {
                    // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
                    height: calc(100% - 30px - 0px);
                    border-radius: 10px;
                    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
                    width: 100%;
                    background: linear-gradient(150deg, var(--aom2-light), var(--aom2-gray), var(--aom2-dark));
                    background-size: 200% 200%;
                    background-position: 100% 0%;

                    &::after {
                        position: absolute;
                        width: 12.5vw;
                        height: 12.5vw;
                        content: '';
                        filter: blur(10px);
                        background: #79afff;
                        border-radius: 50%;
                        bottom: -25%;
                        right: -25%;
                        z-index: -2;
                    }

                    // @media (max-width:1366px) {
                    //     width: 44vw;
                    // }

                    .search-text {
                        background: var(--home-input);
                        color: var(--sidenav-ISO2);
                        padding: 5px;
                        margin: 5px 0px;
                        outline: none;
                        border-radius: 5px;

                        &::placeholder {
                            color: var(--sidenav-ISO2);
                        }
                    }

                    .recent-list {
                        width: 100%;
                        overflow-x: auto;
                        overflow-y: auto;

                        .table-container {
                            width: 100%;
                            max-height: 325px; // Set your desired height
                            overflow-y: auto;

                            table {
                                width: 100%;
                                border-collapse: collapse;

                                thead {
                                    th {
                                        position: sticky;
                                        top: 0;
                                        background-color: var(--home-input); // Ensure a solid background
                                        z-index: 1; // So that header stays on top of the tbody rows
                                        padding: 12px 15px;
                                        text-align: left;
                                        font-weight: 600;
                                        font-size: 0.9rem;

                                        @media (max-width:1368px) {
                                            padding: 7px 15px;
                                            font-size: 12px;
                                        }
                                    }
                                }

                                tbody {
                                    tr {
                                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                        transition: background-color 0.3s ease;

                                        &:hover {
                                            background-color: rgba(0, 0, 0, 0.05);
                                        }

                                        td {
                                            padding: 12px 15px;
                                            font-size: 0.9rem;

                                            @media (max-width:1368px) {
                                                padding: 7px 15px;
                                                font-size: 12px;
                                            }

                                            input {
                                                padding: 3.5px;
                                                border-radius: 5px;
                                                background: #a19850;
                                                color: #fff;

                                                &::placeholder {
                                                    color: #fff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .act-data-1 {
                margin: 20px 0px;
                display: flex;
                backdrop-filter: blur(10px);
                align-items: center;
                justify-content: center;
                padding: 10px;
                position: relative;
                overflow: hidden;
                z-index: 2;
            }


            .data-2 {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                svg {
                    path {
                        fill: var(--svg-path2);
                    }
                }
                .sdm,
                .utm {
                    // width: 100%;
                    height: 500px;

                    h1 {
                        padding: 5px;
                    }
                }

                .sdm {
                    width: 40%;
                }

                .utm {
                    width: 60%;
                }

                [class*="comp"] {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(150deg, var(--aom3-light), var(--aom3-gray), var(--aom3-dark));
                    background-size: 200% 200%;
                    background-position: 100% 0%;
                    padding: 10px;
                    border-radius: 10px;
                    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

                }


                .search-sdm {

                    
                    .search-area {
                        width: 100%;
                        z-index: 2;
                        position: relative; // Ensures dropdown positions relative to input
                    }

                    input {
                        width: 100%;
                        padding: 8px 12px;
                        border: 1px solid #ccc;
                        border-radius: 15px;
                        background: var(--home-input);
                        font-size: 14px;
                        transition: border-color 0.3s, box-shadow 0.3s;
                        color: var(--sidenav-ISO2);

                        &::placeholder {
                            color: var(--sidenav-IS02);
                        }
                        &:focus {
                            outline: none;
                            border-color: #007BFF;
                            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                        }
                    }

                    svg {
                        width: 28.5px;
                        height: 28.5px;
                    }

                    .dropdown-search {
                        position: absolute;
                        top: calc(100% + 5px); // Places the dropdown just below the input
                        left: 0;
                        width: 100%;
                        max-height: 200px;
                        overflow-y: auto;
                        background: #fff;
                        border: 1px solid #ddd;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        border-radius: 8px;
                        padding: 10px;
                        z-index: 3;

                        .list-of-search {
                            .acc-id {
                                padding: 8px;
                                margin-bottom: 5px;
                                border-bottom: 1px solid #eee;
                                cursor: pointer;
                                transition: background-color 0.3s;

                                &:hover {
                                    background-color: #f1f1f1;
                                }

                                &:last-child {
                                    border-bottom: none;
                                }

                                p {
                                    margin: 0;

                                    &:first-child {
                                        font-weight: bold;
                                        font-size: 14px;
                                        color: #333;
                                    }

                                    &:last-child {
                                        font-size: 12px;
                                        color: #666;
                                    }
                                }
                            }
                        }
                    }
                }


                .send-sdm {
                    .submit-send {
                        margin-left: auto;
                        padding: 10px;
                        background: var(--home-input);
                        transition: all 0.75s ease-in-out;
                        border-radius: 7.5px;

                        &:hover {
                            background: var(--emoji-send);
                        }
                    }
                }

                .textarea-sdm {
                    width: 100%;
                    margin: 10px 0px;
                    padding: 10px;
                    height: calc(100% - 100px);
                    background: var(--home-input);
                    border-radius: 7.5px;
                    position: relative;

                    textarea {
                        outline: none;
                        width: 100%;
                        height: 100%;
                        color: var(--sidenav-ISO2);
                    }

                    .emoticon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        position: absolute;
                        bottom: 15px;
                        right: 15px;

                        .status-message {
                            position: relative;
                            cursor: pointer;

                            .circle {
                                border-radius: 50%;
                            }
                        }

                        .status-dropdown {
                            position: absolute;
                            bottom: 100%; // positions the dropdown above the status button
                            left: 0;
                            margin-bottom: 0.5rem;
                            background: var(--home-input);
                            border-radius: 5px;
                            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
                            padding: 0.5rem;
                            z-index: 10;

                            .dropdown-option {
                                padding: 0.3rem 0.5rem;
                                transition: background 0.2s ease;
                                display: flex;
                                align-items: center;

                                &:hover {
                                    background: rgba(0, 0, 0, 0.1);
                                }

                                span {
                                    font-size: 13px;
                                    color: var(--sidenav-ISO2);
                                }
                            }

                        }

                        h5 {
                            font-size: 13px;
                        }

                        .emoji-picker-popup {
                            background: linear-gradient(150deg, var(--aom4-light), var(--aom4-gray), var(--aom4-dark));
                            border-radius: 8px;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
                            padding: 0.5rem;

                            emoji-picker {
                                --background: var(--emoji-gray);
                                /* your desired background color */
                                --border-color: #ccc;
                                --emoji-size: 1rem;
                                /* …other variables as needed */
                            }


                        }

                    }
                }

                .utm-comp {
                    padding: 10px;

                    .search-area {
                        width: 100%;
                        z-index: 2;
                        position: relative; // Ensures dropdown positions relative to input
                    }

                    input {
                        width: 100%;
                        padding: 8px 12px;
                        border: 1px solid #ccc;
                        border-radius: 15px;
                        background: var(--home-input);
                        font-size: 14px;
                        transition: border-color 0.3s, box-shadow 0.3s;

                        &::placeholder {
                            color: var(--sidenav-ISO);
                        }

                        &:focus {
                            outline: none;
                            border-color: #007BFF;
                            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                        }
                    }

                    .lists-tsm {
                        /* display: grid; */
                        gap: 10px;
                        height: 425px;
                        overflow-y: auto;
                        border-radius: 15px;

                        table {
                            width: 100%;
                            overflow-y: auto;
                            background-color: rgba(255, 255, 255, 0.348);
                            backdrop-filter: blur(10px);
                            overflow: hidden;
                            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                            margin: 5px 0px;

                            thead {
                                background: var(--aom-gray);

                                tr {
                                    // display: flex;
                                    // gap: 5px;
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                    transition: background-color 0.3s ease;

                                    &:hover {
                                        background-color: rgba(0, 0, 0, 0.05);
                                    }
                                }

                                th {
                                    padding: 12px 15px;
                                    text-align: left;
                                    font-weight: 600;
                                    font-size: 12px;

                                    .line {
                                        width: 100%;
                                        height: 1.25px;
                                    }
                                }
                            }

                            tbody {

                                tr {

                                    // display: flex;
                                    // gap: 5px;
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                    transition: background-color 0.3s ease;
                                    background: var(--aom3-dark);


                                    &:hover {
                                        background-color: rgba(0, 0, 0, 0.05);
                                    }

                                    td {
                                        // width: 100%;
                                        padding: 12px 15px;
                                        font-size: 12px;
                                        text-align: left;

                                        input {
                                            padding: 3.5px;
                                            align-self: flex-end;
                                            justify-self: flex-end;
                                            border-radius: 5px;
                                            background: #a19850;
                                            color: #fff;

                                            &::placeholder {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}